
.start{
    line-height: 1.5;
}
.start_trans{
    a:link{
        color:rgb(76, 189, 24);
    }
    a:visited{
        color:brown;
    }
}
.start small{
    line-height: 0.5;
}
.back{
    a:link{
        padding-left: 80%;
        padding-top: 10%;
        color:rgb(41, 30, 190);
        text-decoration:none
    }
}

